name: Build

on: 
  push:
  pull_request:
    branches:
      - master

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: npm install
      run: npm ci
    - name: npm run build
      run: npm run build
    - name: npm run zip
      run: npm run zip
