on:
  push:
    branches:
      - master
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
      # ここからリリース発行後の処理
      - uses: actions/checkout@v3
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          registry-url: "https://registry.npmjs.org"
        if: ${{ steps.release.outputs.release_created }}
      - run: npm ci
        if: ${{ steps.release.outputs.release_created }}
      - run: npm run build
        if: ${{ steps.release.outputs.release_created }}
      - run: npm run zip
        if: ${{ steps.release.outputs.release_created }}
      - name: upload asset to release page
        uses: shogo82148/actions-upload-release-asset@v1
        if: ${{ steps.release.outputs.release_created }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: dist_zip/*.zip
      - name: Upload & release
        uses: mnao305/chrome-extension-upload@v4.0.1
        if: ${{ steps.release.outputs.release_created }}
        with:
          file-path: dist_zip/*.zip
          extension-id: poaolllddjlbbomnohpahbpdlcklkffi
          client-id: ${{ secrets.CLIENT_ID }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          glob: true
